.root {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 1rem;
  width: 1rem;
}

.root:disabled {
  pointer-events: none;
}

.root > img {
  height: 100%;
  margin: auto;
  width: 100%;
}
