.root {
  background-color: var(--background-color-2);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.noPadSide {
  padding: 8px 0;
}

.title {
  border-bottom: 2px solid var(--grey-color-3);
  padding: 12px;
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 700;
}

.headLoading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #212121;
  text-align: center;
}

.captionLoading {
  font-size: 14px;
  margin-bottom: 16px;
  color: #757575;
  text-align: center;
}
